#rotate{
  background-color: #4bff3b ; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  margin-right:16px;
}
#stoprotate{
  background-color: #4bff3b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

#initial{
  background-color: #4bff3b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  margin-right:16px;
}

.div1{
    margin-bottom: 25px;
}
.div2{
  margin-bottom: 25px;
}
.div3{
  margin-bottom: 25px;
}
.div4{
  margin-bottom: 25px;
}

.outer{
  align-items: center;
  margin-top: 25px;
}
